
/* =========== COMMON ========== */
/* ============Header============== */


/* ============Header=============*/

/* =============Logo=============== */

/* ===============Logo============ */






/* ===================== Products ===================== */


/* ====================== Products ==================== */





/*  */



/* ===================== Portfolio ==================== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-item .link {
  padding: 0;
}
.btn-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-buttons {
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);

  background-color: var(--background-clor-grey);
  color: var(--global-color-blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-family: var(--global-font);
  font-weight: 500;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  border: 1px solid transparent;
  background-color: var(--active-button);
  color: var(--background-color-white);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-image-text,
.portfolio-link:focus .portfolio-image-text {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  color: var(--second-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--global-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-button);
  border-top: none;
}

.portfolio-item:hover,
.customers-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
  max-width: 360px;
  border: transparent;

  transition-property: background-color, border-color, box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.portfolio-image-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  padding: 40px 32px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--background-clor-grey);
  background-color: var(--global-color-blue);
  height: 100%;
  width: 100%;
}

.portfolio-image {
  display: block;
}
/* ===================== Portfolio =================== */

