
/* =========== COMMON ========== */
/* ============Header============== */


/* ============Header=============*/

/* =============Logo=============== */

/* ===============Logo============ */


.features-title,
.products-title,
.team-title,
.customers-title {
  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

/*=================== Features ===================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* 
.features {
  padding: 120px 0 120px;
} */

.features .title {
  margin-bottom: 8px;

  color: var(--second-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.features-description {
  color: var(--global-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  max-width: 264px;
  flex-direction: column;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
}
/* ================ Features =========================*/

/* ===================== Products ===================== */

.products {
  padding-top: 0;
  padding-bottom: 120px;
}

.products-list {
  display: flex;
  gap: 24px;
}

/* ====================== Products ==================== */
/* ==================== Team ==========================*/

.team-container {
  padding: 32px 0;
  text-align: center;
}

.team {
  background-color: var(--background-clor-grey);
}

.team-name {
  color: var(--second-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-bottom: 8px;
}

.team-position {
  color: var(--global-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list {
  display: flex;
  gap: 24px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  background-color: var(--global-color-blue);
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.social-icon {
  fill: var(--background-clor-grey);
}
.social-link:hover {
  background-color: var(--active-button);
}

.social-link:focus {
  background-color: var(--active-button);
}
/* ======================Team ========================*/

/* ================= Customers========== */
.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  height: 88px;
  width: 168px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  transition-property: border-color, color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  border-radius: 4px;
  border: 1px solid var(--customers-border);
  color: var(--customers-border);
  height: 100%;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--active-button);
  color: var(--active-button);
}
.customers-icon {
  fill: currentColor;
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--active-button);
}
/* ================= Customers========== */
/*===================== Footer========================= */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--second-text-color);
}

.footer-text {
  width: 264px;

  color: var(--background-clor-grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer .studio {
  color: var(--background-clor-grey);
}

.footer .logo {
  padding: 0;
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-right: 120px;
}

.footer-social {
  display: block;
}
.footer-social-paragraph {
  margin-bottom: 16px;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--background-color-white);
}

.footer .social-link:hover,
.social-link:focus {
  background-color: var(--footer-active-icons);
}

.footer .social-list {
  gap: 16px;
}
/* ===================== Footer ========================*/

/* ================ Modal Window ===================== */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;

  transition-property: opacity, visibility;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  height: 100%;
  width: 100%;
  background: rgba(46, 47, 66, 0.4);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.2);
}

.backdrop {
  padding: 72px 24px 24px 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 24px;
  top: 24px;

  transition-property: background-color, border;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--portfolio-button);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  cursor: pointer;
  background-color: var(--active-button);
  fill: var(--background-color-white);
  border: none;
}

.close-button-icon {
  transition-property: fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

/*  */
/* ============== footer form =========== */
.footer-form {
  display: block;
  margin-left: 80px;
}

.footer-subscribe-text {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--background-color-white);
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--background-color-white);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;

  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--background-color-white);
}

.footer-input::placeholder {
  color: var(--background-color-white);
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-color-white);
  cursor: pointer;
  background-color: var(--global-color-blue);
  border: none;
  border-radius: 4px;
}

.footer-subscribe-icon {
  margin-left: 16px;
}

/* ============== footer form =========== */

/* ================ Modal window form ============== */

.modal-title {
  margin-bottom: 16px;
  color: var(--second-text-color);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.modal-field-wrapper {
  margin-bottom: 8px;
}

.modal-field {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--customers-border);

  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  color: var(--second-text-color);
  font-size: 12px;
  padding: 11px 38px;
  background-color: transparent;
  outline: transparent;

  transition-property: border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--global-color-blue);
}

.modal-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--second-text-color);
}

.modal-icon-wrapper {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--global-color-blue);
}
.modal-input:focus,
.modal-comment:focus {
  border-color: var(--global-color-blue);
}

.modal-input:hover,
.modal-comment:hover {
  border-color: var(--global-color-blue);
}

.modal-comment {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;

  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;

  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  background-color: transparent;

  transition-property: border-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.modal-comment::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--second-text-color);
}

.privacy-wrapper {
  position: relative;
  margin-bottom: 24px;
}
.input-check {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 0;
}

.checkbox-made {
  width: 16px;
  height: 16px;

  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));

  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* fill: transparent; */
  transition-property: background-color, border, fill;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.checkbox-made-icon {
  opacity: 0;
  visibility: hidden;
}

.input-check:checked + .checkbox-label .checkbox-made {
  border: 1px solid transparent;
  background-color: var(--active-button);
  border: none;
  fill: var(--background-clor-grey);
}

.input-check:checked + .checkbox-label .checkbox-made-icon {
  opacity: 1;
  visibility: visible;
}

.privacy-link {
  color: var(--global-color-blue);
}

.checkbox-label {
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--customers-border);
  text-decoration-line: underline;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-color-white);
  cursor: pointer;
  background-color: var(--global-color-blue);
  border: none;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}
/* ================ Modal window form ============== */
/* ===================== Portfolio ==================== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-item .link {
  padding: 0;
}
.btn-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-buttons {
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);

  background-color: var(--background-clor-grey);
  color: var(--global-color-blue);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-family: var(--global-font);
  font-weight: 500;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  border: 1px solid transparent;
  background-color: var(--active-button);
  color: var(--background-color-white);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-image-text,
.portfolio-link:focus .portfolio-image-text {
  transform: translateY(0%);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  color: var(--second-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--global-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid var(--portfolio-button);
  border-top: none;
}

.portfolio-item:hover,
.customers-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
  max-width: 360px;
  border: transparent;

  transition-property: background-color, border-color, box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.portfolio-image-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  padding: 40px 32px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--background-clor-grey);
  background-color: var(--global-color-blue);
  height: 100%;
  width: 100%;
}

.portfolio-image {
  display: block;
}
/* ===================== Portfolio =================== */
