.footer {
  padding: 96px 15px;
  background-color: var(--second-text-color);
}

.footer-container {
  text-align: center;
  /* display: flex;
  align-items: baseline; */
}

.footer-logo {
  align-items: center;
  justify-content: center;
}

.footer .logo {
  display: inline-block;
  padding: 0;
  margin: 0 auto 17px auto;
  text-align: center;
}

.footer-text {
  margin: 0 auto 72px auto;
  text-align: left;
  width: 268px;

  color: var(--background-clor-grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;

  margin-bottom: 72px;
}

.footer .studio {
  color: var(--background-clor-grey);
}

.footer-social {
  display: block;
  margin-bottom: 72px;
}
.footer-social-paragraph {
  margin-bottom: 16px;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--background-color-white);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--footer-active-icons);
}

.footer .social-list {
  gap: 16px;
}

.footer-form {
  display: block;
  /* margin-left: 80px; */
}

.footer-subscribe-text {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  color: var(--background-color-white);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.footer-field {
  display: block;
  width: 100%;
}

.footer-input {
  display: block;
  width: 100%;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  max-width: 380px;
  height: 40px;
  border: 1px solid var(--background-color-white);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--background-color-white);

  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);
}

.footer-input::placeholder {
  color: var(--background-color-white);
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  display: flex;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--background-color-white);
  cursor: pointer;
  background-color: var(--global-color-blue);
  border: none;
  border-radius: 4px;
}

.footer-subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 72px 24px;
    padding-left: 93px;
  }

  .footer-logo {
    display: inline-block;
    text-align: left;
    max-width: 264px;
    margin-right: 24px;
  }

  .footer-social {
    display: inline-block;
    text-align: left;
    max-width: 208px;
    margin-right: 80px;
  }

  .footer-form {
    display: inline-block;
  }

  .footer-subscribe-form {
    flex-direction: row;
    margin-right: 24px;
  }

  .footer-subscribe-text {
    display: flex;
    text-align: left;
  }

  .footer-input {
    width: 264px;
  }

  .footer-field {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 0;
    align-items: baseline;
  }

  .footer-logo {
    margin-right: 120px;
    text-align: left;
  }
  .footer-social {
    margin-right: 80px;
    text-align: left;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--second-text-color);
  }

  .footer-text {
    width: 264px;

    color: var(--background-clor-grey);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 0;
  }

  .footer .studio {
    color: var(--background-clor-grey);
  }

  .footer .logo {
    padding: 0;
    margin-bottom: 16px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer-social {
    display: block;
    margin: 0;
  }
  .footer-social-paragraph {
    margin-bottom: 16px;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--background-color-white);
  }

  .footer .social-link:hover,
  .social-link:focus {
    background-color: var(--footer-active-icons);
  }

  .footer .social-list {
    gap: 16px;
  }

  .footer-form {
    display: block;
    margin-left: 80px;
  }

  .footer-subscribe-text {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;

    color: var(--background-color-white);
  }

  .footer-subscribe-form {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  .footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--background-color-white);
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;

    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--background-color-white);
  }

  .footer-input::placeholder {
    color: var(--background-color-white);
  }

  .footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 0;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--background-color-white);
    cursor: pointer;
    background-color: var(--global-color-blue);
    border: none;
    border-radius: 4px;
  }

  .footer-subscribe-icon {
    margin-left: 16px;
  }
}

/*===================== Footer========================= */
/* .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  
    background-color: var(--second-text-color);
  }
  
  .footer-text {
    width: 264px;
  
    color: var(--background-clor-grey);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
  
  .footer .studio {
    color: var(--background-clor-grey);
  }
  
  .footer .logo {
    padding: 0;
    margin-bottom: 16px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  
  .footer-logo {
    margin-right: 120px;
  }
  
  .footer-social {
    display: block;
  }
  .footer-social-paragraph {
    margin-bottom: 16px;
  
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--background-color-white);
  }
  
  .footer .social-link:hover,
  .social-link:focus {
    background-color: var(--footer-active-icons);
  }
  
  .footer .social-list {
    gap: 16px;
  } */
/* ===================== Footer ========================*/

/* ============== footer form =========== */
/* .footer-form {
    display: block;
    margin-left: 80px;
  }
  
  .footer-subscribe-text {
    margin-bottom: 16px;
  
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
  
    color: var(--background-color-white);
  }
  
  .footer-subscribe-form {
    display: flex;
    gap: 24px;
  }
  
  .footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--background-color-white);
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
  
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--background-color-white);
  }
  
  .footer-input::placeholder {
    color: var(--background-color-white);
  }
  
  .footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
  
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--background-color-white);
    cursor: pointer;
    background-color: var(--global-color-blue);
    border: none;
    border-radius: 4px;
  }
  
  .footer-subscribe-icon {
    margin-left: 16px;
  } */

/* ============== footer form =========== */
