*,
*::before,
*::after{
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--global-font);
  background-color: var(--background-color-white);
  color: var(--global-text-color);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.72px;
}

img {
  display: block;
  max-width: 100%;
}

