/* ================= Customers========== */
.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  height: 88px;
  width: 168px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  transition-property: border-color, color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  border-radius: 4px;
  border: 1px solid var(--customers-border);
  color: var(--customers-border);
  height: 100%;
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--active-button);
  color: var(--active-button);
}
.customers-icon {
  fill: currentColor;
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--active-button);
}
/* ================= Customers========== */