.hero {
  background-color: var(--second-text-color);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../../images/main-page/backgrounds/mobile-bcg-1x.png');
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 112px 0;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/main-page/backgrounds/mobile-bcg-@2x.png');
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  max-width: 428px;
  max-height: 432px;
}

.hero-title {
  margin-bottom: 72px;
  max-width: 320px;
  text-align: center;
  /* margin: 0 auto 72 auto; */
  /* align-items: center; */

  color: var(--background-color-white);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.hero-button {
  display: block;
  margin: auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 59px;

  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--global-color-blue);
  color: var(--background-color-white);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-button);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: var(--dark);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/main-page/backgrounds/tablet-bcg-1x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (mix-width: 768px),
    screen and (min-resolution: 192dpi) and (mix-width: 768px),
    screen and (min-resolution: 2dppx) and (mix-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../../images/main-page/backgrounds/tablet-bcg-@2x.png');
    }
  }

  .hero-container {
    max-width: 768px;
    max-height: 436px;
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;

    color: var(--background-color-white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-color: var(--dark);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/main-page/backgrounds/desktop-bcg-1x.png');
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center;
  }

  @media screen and (min-device-pixel-ratio: 2) and (mix-width: 1200px),
    screen and (min-resolution: 192dpi) and (mix-width: 1200px),
    screen and (min-resolution: 2dppx) and (mix-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../../images/main-page/backgrounds/desktop-bcg-@2x.png');
    }
  }

  .hero {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
    max-width: 496px;
  }
}

/* ==================== Hero ===================== */

/* .hero {
  background-color: var(--second-text-color);
  padding: 188px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-button {
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;

  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  background-color: var(--global-color-blue);
  color: var(--background-color-white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-button);
}

.hero-title {
  margin-bottom: 48px;
  max-width: 496px;

  color: var(--background-color-white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
} */

/* ===================== Hero =======================*/
