.products{
  display: none;
}

@media screen and (min-width:1158px)
{

  .products {
    display: block;
    padding-top: 0;
    padding-bottom: 120px;
  }
  
  .products-list {
    display: flex;
    gap: 24px;
  }
}




/* .products {
    padding-top: 0;
    padding-bottom: 120px;
  }
  
  .products-list {
    display: flex;
    gap: 24px;
  } */
  