/* .team .container {
  padding: 0 82px;
} */

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 96px 0;
  background-color: var(--background-clor-grey);
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--second-text-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  /* margin-bottom: 72px; */

  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list:not(last-child) {
  row-gap: 72px;
}

.team-container {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  color: var(--second-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-bottom: 8px;
}

.team-position {
  text-align: center;
  color: var(--global-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  margin: 0 auto;
  list-style: none;
  gap: 24px;
  justify-content: center;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-func);

  background-color: var(--global-color-blue);
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.social-icon {
  fill: var(--background-clor-grey);
}
.social-link:hover {
  background-color: var(--active-button);
}

.social-link:focus {
  background-color: var(--active-button);
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-item {
    margin: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    column-gap: 24px;
  }

  .team-item {
    margin: 0px;
  }
}

/* ==================== Team ==========================*/

/* .team-container {
    padding: 32px 0;
    text-align: center;
  }
  
  .team {
    background-color: var(--background-clor-grey);
  }
  
  .team-name {
    color: var(--second-text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  .team-position {
    color: var(--global-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
  }
  
  .team-item {
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-color-white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  
  .team-list {
    display: flex;
    gap: 24px;
  }
  
  .social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  
  .social-item {
    width: 40px;
    height: 40px;
  }
  
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition-property: background-color;
    transition-duration: var(--transition-dur);
    transition-timing-function: var(--transition-func);
  
    background-color: var(--global-color-blue);
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  
  .social-icon {
    fill: var(--background-clor-grey);
  }
  .social-link:hover {
    background-color: var(--active-button);
  }
  
  .social-link:focus {
    background-color: var(--active-button);
  } */
/* ======================Team ========================*/
